execute this command "openssl rand -base64 741 > path/to/your/desire/folder/yourOwnValue"
and the output will look similiar like this:
tIbYNfSARP3SL3bUy4r+33/o+NUpqK1H4u3smVwOaJU188QhrzIik1znjrm9WS5j
yWH5+gkpLLe8z94cIQBRdFlt9j/BOzGzM54J4pqmgk9TRXWJEop8MoV8pm/uITz2
cBcmLMQXMrGj8Rgc1jRv1rKftV0gD5S3VehCkYWYDyArWmtRSa+Fr3QQgMjj+Fox
cAFEu3QKCXPOhw0TwyqO+dvjph6lOkKiqdw6dWUIrWuGRDUwYeaJ83FqGEXeT2sj
lz7KiwjpRY4cXGKrgUlUgH7/VKwzalqJ4ETtMgxrn9j2P4NjgoFsk9/3O6Oi+puQ
7fQKSxUycaGH+7EgZoBcDe06mScccnYxMh9u0nxVrPt/uGrhasPsyECQ2XrxLH+p
aY+4lOY3EbR/DRAxNpDxM3RcGBg6wpoC4J9Xmqmb+SnN+nSGMZUDN4OeO5AB/A0t
KSNkolu/XWsPimoI5+a+qK1c3/4fg4zdzlOkP8U7QshXpvY/KlPbabmBiss9o6wa
dJ9EAkufGEvs4mDPE3Y+CLdE48386PaOIMJ+w1I24FNZJV0OjNWFR1IELEzcWQlD
zXxw9hodkADaaClyAWN8mMDxr80eQVHxE9RXpDfS5J3U6Zz4OCiiNJSuAx01Ykbo
Jw7tB3Q7Ipld+4ucN3vRoNF7A6Dr21ZP3wGwHKeLWcgz9dAFMYnWcOXr5rS4CxFq
eeqvB7Vxht+Jn0ODZ8F3BBnXB47wwIB/tkU72q4dNq53zbPLZSadbC+TFktDFECO
CiOwdgq0lsiioJJwXPS7Giq7FfCLwJYNIhevu4sjXyb/ORCFutUU9l8bxNx7lGpx
qh5dRe5MLbhylGB4y0UCw+6aZGzKGAiJ5CB5CcJzjbkcWOZXyuhj/+/gEsB2ok42
KRSXL1OG6cnpH4celf8TTU9S170vqNXQZN9X2t2PmQGX2yNJwnoWF0DN/0YrVqTh
e3rhxeAtRHdpX/Hpct+BBiFy0Hm6

after that run this command:
kubectl create secret generic <yourSecretName> --from-file=path/to/this/file/<yourOwnValue>
