include:
  - local: '.gitlab/ci/.gitlab-ci.yml'
image: node:latest # (1)

stages:
  - build
  - test
  - docker-deploy-image

cache:
  paths:
    - node_modules/ # (2)

install_dependencies:
  stage: build
  script:
    - npm install # (3)
  artifacts:
    paths:
      - node_modules/

testing:
  stage: test
  script: npm run test # (4)

docker-deploy-image:
  stage: docker-deploy-image
  image: docker:dind
  services:
    - docker:dind
  script:
    - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin # (5)
    - docker build -t 2000140/docker-node-mongo .
    - docker push 2000140/docker-node-mongo
