image: node:latest # (1)

# stages:
#   - build
#   - test
#   - docker-deploy-image

cache:
  paths:
    - node_modules/ # (2)

install_dependencies:
  stage: build
  script:
    - npm install # (3)
  artifacts:
    paths:
      - node_modules/

testing:
  stage: test
  script: npm run test # (4)

docker-deploy-image:
  stage: docker-deploy-image
  image: docker:dind
  services:
    - docker:dind
  before_script:
    - docker login -u "${GITLAB_USERNAME}" -p "${GITLAB_TOKEN}"
  script:
    - docker build -t 200140/docker-node-mongo:latest .
    - docker push 200140/docker-node-mongo:latest
