image: node:latest # (1)

stages:
  - build
  - test
  - docker-deploy-image

cache:
  paths:
    - node_modules/ # (2)

install_dependencies:
  stage: build
  script:
    - npm install # (3)
  artifacts:
    paths:
      - node_modules/

testing:
  stage: test
  script: npm run test # (4)

docker-deploy-image:
  stage: docker-deploy-image
  image: docker:dind
  services:
    - docker:dind
  before_script:
    - docker login registry.example.com -u "${GITLAB_USERNAME}" -p "${GITLAB_TOKEN}"
  script:
    - docker build -t registry.gitlab.com/rizkiiqbal36/docker-node-mongo .
    - docker push registry.gitlab.com/rizkiiqbal36/docker-node-mongo
